
.relative {
	position: relative;
}

.absolute-lt(@left: 0; @top: 0) {
	position: absolute;
	left: @left;
	top: @top;
}

.absolute-rb(@right: 0; @bottom: 0) {
	position: absolute;
	right: @right;
	bottom: @bottom;
}

.absolute-rt(@right: 0; @top: 0) {
	position: absolute;
	right: @right;
	top: @top;
}

.absolute-lb(@left: 0; @bottom: 0) {
	position: absolute;
	left: @left;
	bottom: @bottom;
}

.filter(@filter) {
	filter: @filter;
	-ms-filter: @filter;
	-o-filter: @filter;
	-moz-filter: @filter;
	-webkit-filter: @filter;

}
					
.border-radius(@radius) {
	border-radius: @radius;
	-o-border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.absolute-horizontal-center(@element-width:0) {
	.absolute-lt(50%);
	margin-left: -(@element-width / 2);
}

.absolute-vertical-center(@element-height:0) {
	.absolute-lt(0,50%);
	margin-top: -(@element-height / 2);
}

.absolute-center(@element-width:0; @element-height:0) {
	.absolute-horizontal-center(@element-width);
	.absolute-vertical-center(@element-height);
}

.desktop-and-old-ie(@rules) {
	@media screen and (min-width: @screen-lg-min) { @rules(); }
	html.lt-ie9 &                      			{ @rules(); }
}

.responsive-min(@size, @rules) {
	@media (min-width: @size) { @rules(); }
}
.responsive-max(@size, @rules) {
	@media (max-width: @size) { @rules(); }
}
.responsive-range(@start, @end, @rules) {
	@media (min-width: @start) and (max-width: @end) { @rules(); }
}

.phone-min(@rules) {
	.responsive-min(@screen-xs-min, @rules);
}
.phone-max(@rules) {
	.responsive-max(@screen-xs-max, @rules);
}
.phone-only(@rules) {
	.responsive-max(@screen-xs-max, @rules);
}

.tablet-min(@rules) {
	.responsive-min(@screen-sm-min, @rules);
}
.tablet-max(@rules) {
	.responsive-max(@screen-sm-max, @rules);
}
.tablet-only(@rules) {
	.responsive-range(@screen-sm-min, @screen-sm-max, @rules);
}

.desktop-min(@rules) {
	.responsive-min(@screen-md-min, @rules);
}
.desktop-max(@rules) {
	.responsive-max(@screen-md-max, @rules);
}
.desktop-only(@rules) {
	.responsive-range(@screen-md-min, @screen-md-max, @rules);
}

.lg-desktop-min(@rules) {
	.responsive-min(@screen-lg-min, @rules);
}
.lg-desktop-max(@rules) {
	.responsive-max(99999, @rules);
}
.lg-desktop-only(@rules) {
	.responsive-min(@screen-lg-min, @rules);
}

.device-gradient(@phone-rules, @tablet-rules, @desktop-rules, @lg-desktop-rules) {
	.phone-min(@phone-rules);
	.tablet-min(@tablet-rules);
	.desktop-min(@desktop-rules);
	.lg-desktop-min(@lg-desktop-rules);
}
.device-gradient-exlusive(@phone-rules, @tablet-rules, @desktop-rules, @lg-desktop-rules) {
	.phone-only(@phone-rules);
	.tablet-only(@tablet-rules);
	.desktop-only(@desktop-rules);
	.lg-desktop-only(@lg-desktop-rules);
}
.device-gradient-inverted(@phone-rules, @tablet-rules, @desktop-rules, @lg-desktop-rules) {
	.phone-max(@phone-rules);
	.tablet-max(@tablet-rules);
	.desktop-max(@desktop-rules);
	.lg-desktop-max(@lg-desktop-rules);
}
